<body class="main-bg-bmem">
  <section class="main-bmem">
    <div class="inner-sec-bmem-forgot">
      <div class="logo-bmem">
          <a href="index.html"><img src="/../assets/new-design/logo.png"></a>
      </div>
       <div class="password-wrapper" id="password_form">
      <div class= "email-message alert-success"></div>
        <h6><%= Spree.t(:forgot_password) %></h6>
        <p><%= Spree.t(:instructions_to_reset_password) %></p>


        <div class = "error-message public-error"></div>
        <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path, :remote => true do |f| %>
              <div class="form-group">
                <%= f.text_field :email, :class => "input-text-forgot",:placeholder=>"Email" %>
              </div>

              <div class="join1"><%= f.submit Spree.t(:reset_password), :class => 'button primary', :id => 'forgot_password_submit' %></div>
            
        <% end %>
      </div>
  </div>


</section>
</body>

<style type="text/css">
  
</style>
