<div class="container">
  <div class="row forget-password">
    
      <div class="password-wrapper" id = "password_form">
      <div class= "email-message alert-success"></div>
        <h6><%= Spree.t(:forgot_password) %></h6>
        <p><%= Spree.t(:instructions_to_reset_password) %></p>


        <div class = "error-message public-error"></div>
        <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path, :remote => true do |f| %>
              <div class="form-group">
                <%= f.label :email, Spree.t(:email) %>
                <%= f.email_field :email, :class => "form-control" %>
              </div>

              <%= f.submit Spree.t(:reset_password), :class => 'button primary', :id => 'forgot_password_submit' %>
            
        <% end %>
      </div>
  </div>
</div>
