

  <% if f.object.new_record? %>
    <legend align="center"><%= Spree.t(:new_product) %></legend>
  <% end %>

  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :vendor_id do %>
    <%= f.label :vendor_id, Spree.t(:vendor) %> <span class="required">*</span><br />
    <%= f.select :vendor_id, options_from_collection_for_select(@vendors, :id, :name), {:prompt => 'Select a vendor'}, {:class => 'fullwidth title'}%>
    <span class="formError">
      <%= f.object.errors[:vendor_id].first if f.object.errors[:vendor_id].present? %>
    </span>
  <% end %>


  <%= f.field_container :description do %>
    <%= f.label :description, Spree.t(:description) %><br />
    <%= f.text_area :description, :class => 'fullwidth title' %>
  <% end %>

  <%= f.field_container :nutritional_fact_image do %>
    <label>Upload Nutritional Fact Image</label><br />
     <%= image_tag f.object.nutritional_fact_image, :size => "50x50"  if controller.action_name.eql?("edit") %>
    <%= f.file_field :nutritional_fact_image, :class => 'fullwidth title' %>
  <% end %>

  <%= f.field_container :ingredients do %>
    <%= f.label :ingredients %><br />
    <%= f.cktext_area :ingredients, :class => 'fullwidth title' %>
  <% end %>
  <%#= f.field_container :price do %>
    <%#= f.label :price, Spree.t(:price) %> <!-- <span class="required">*</span><br /> -->
    <%#= f.text_field :price, :class => 'fullwidth title' %>
    <%#= f.error_message_on :price %>
  <%# end %>

  <%= f.hidden_field :price, :value => '0.0' %>
  <%= f.hidden_field :permalink, :value => Time.now.strftime("%Y%m%d%H%M%S") if f.object.new_record? %>
  <%= f.hidden_field :shipping_category_id, :value => 1 %>

  <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
    <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
  </div>
  <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
    <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
  </div>

  <%= render :partial => 'spree/admin/shared/new_resource_links' if f.object.new_record?%>