<%= form_for([@post, @post.comments.build],:remote => true) do |f| %>

   <div class="add-comment-element">
      <%= f.label :commenter, 'NAME' %>
      <%= f.text_field :commenter %>
   </div>


    <div class="add-comment-element">
      <%= f.label :email, 'EMAIL' %> 
      <%= f.text_field :email %>
    </div>

    <div class="add-comment-element">
      <span> <%= f.label :website, "WEBSITE" %> </span>
      <%= f.text_field :website %>
    </div>

    <div class="add-comment-element">
      <%= f.label :comment_body, "COMMENT" %>
      <%= f.text_area :comment_body  %>
    </div>
  
    <div class="add-comment-element">
    <%= f.submit 'POST COMMENT', :remote => true, :class => 'add_comment' %>
    </div>

    <div>
    <%= f.check_box :comment_notification %>
    <%= f.label :comment_notification, " Notify me of follow-up comments by email." %>
    </div>

    <div>
    <%= f.check_box :post_notification %>
    <%= f.label :post_notification, " Notify me of new posts by email." %>
    </div>

<% end %>