<%# @page.javascripts.push("snack_queue.js") %>

<div id="change_subscription_type">
    <%#= link_to 'Update Subscription', main_app.my_subscription_path(@subscription), class: 'btn btn-medium, btn-info' %>
</div>

<%= form_for @carts,  url: spree.update_snack_queue_orders_path(subscription_id: @subscription, cart_ids: @cart_ids, undelivered_order_ids: @undelivered_order_ids), method: :post, html: {id: 'snack_queue_update'}, remote: true  do |f| %>
<% @upcoming = 0 %>
    <% @carts.each_with_index do |cart, index| %>

        <% current_cart_items = cart.get_cart_items %>
        <% total_space = cart.max_cart_items %>


        <div id="cart_row_<%= cart.id %>">
            <%= render :partial => "spree/orders/cart_row", locals: {color_box: index, cart: cart, total_space: total_space, current_cart_items: current_cart_items} %>
        </div>

        <%= render 'spree/orders/snacks_modal', {color_box: index, cart: cart } %>
        <%= render 'spree/orders/snack_updated' %>


    <% end %>
    <div id="snack_update">
        <%= hidden_field_tag 'cart_ids', @cart_ids.to_s, id: 'updated_carts' %>
        <%#= f.submit 'Save Changes', id: 'update_snack' %>
    </div>

<% end %>