<p id="notice"><%= notice %></p>

<div class="post_title entry-title"> <%= @post.title %> </div>


 <div class="social-share-top">
    <%= social_share_button_tag(@post.title, :url => post_url(@post) ) %>
 </div>


  <div class="left_content"> 
    
    <div class = 'post_content'>
  	 <%= raw @post.content %>
    </div>

  </div>

    <div class="right_content">
        <div class="recent_post"> Latest Post </div>

            <% @latest_posts.each do |latest_post| %>
          <%= image_tag latest_post.post_image.url(:thumb) %>
            <% end %>
    </div>


    <div class="footer_section">

      <div class="tag_list">
  		  <% @post.tags.each do |tag| %>
   				<span><%= link_to tag.tagname, '#' %></span>
            <span> <%= hidden_field_tag :id, tag.id %> </span>
  		  <% end %>
      </div>

     <%= render :partial => 'posts/post_share_bottom' %>

    <div class = "comment-section">

      <%= render :partial => 'comments/comment', :locals => {:comment => @post.comments} %>
    </div>

      <div class="add-comment">
        <h3> Let's Add a Comment </h3>
        <%= render "comments/form" %>
      </div>


      <%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
  </div>