<script type="text/javascript">

    $(window).bind("load", function() {

        /* if user is fb authetnicated user then for the profile image section need to adjust the dropdown anchor */
        if ($("#drop_dwn_btn").has("img").length == 1){
            $("#drop_dwn_btn").css("padding", "2% 0% 2% 2%");
            $("#drop_dwn_btn").css("width", "100%");
            $("#drop_dwn_btn").css("clear", "both");
        }
        $("#drop_list").on("click", function(){

            var action_name = "<%= params[:action] %>";
            var controller_name = "<%= params[:controller] %>" ;

            if(action_name == "profile" && controller_name == "users"){
                //$("#drop_my_acc a").attr("style", "color: #FF6302");
                //$("#drop_my_acc a").attr("style", "font-weight: bold");
                //$("#drop_my_acc a").addClass("active-head-page");
                $("#drop_my_acc a").css("color", "#FF6302");
                $("#drop_my_acc a").css("font-weight", "bold");
            }

            if(action_name == "index" && controller_name == "spree/products"){
                $("#drop_snack_list a").css("color", "#FF6302");
                $("#drop_snack_list a").css("font-weight", "bold");
            }
            if(action_name = "snack_queue" && controller_name == "spree/orders"){
                $("#drop_snack_queue a").css("color", "#FF6302");
                $("#drop_snack_queue a").css("font-weight", "bold");
            }


        });
    });
    $(document).ready(function(){
        var width = $(window).width();
        console.log(width);
        var action_name = "<%= params[:action] %>";
        var controller_name = "<%= params[:controller] %>" ;

        <% if spree_current_user %>
        $("#act_nav").text("<%= truncate(spree_current_user.first_name, :length => 10) %>");
        <% end %>

        if(action_name == "index" && controller_name == "posts"){
            $("#proper-nav li:nth-child(3) a").css('color', '#FF0000');
        }
        else if(action_name =='snacks'){
            $("#proper-nav li:nth-child(2) a").css('color', '#FF0000');
        }
        else if(action_name =='aboutus'){
            $("#proper-nav li:nth-child(1) a").css('color', '#FF0000');
        }
        else if(action_name =='contactus'){
            $("#proper-nav li:nth-child(4) a").css('color', '#FF0000');
        }
        /*
         else if(action_name == "index" && controller_name == "spree/products"){
         //$("#act_nav").text("Snack List");
         $("#drop_snack_list a").attr("style", "color", "#FF6302 !important");
         }
         else if(action_name = "snack_queue" && controller_name == "spree/orders"){
         //$("#act_nav").text("snack queue");
         $("#drop_snack_queue a").attr("style", "color", "#FF6302 !important");
         }
         else if(action_name == "profile" && controller_name == "users"){
         //$("#act_nav").text("my account");
         $("#drop_my_acc a").attr("style", "color: #FF6302 !important");
         }
         */
        else{
        }

        $(document).on('click','#update_sub_id',function(event){
            event.preventDefault();
            $('.light-box-custom').attr('style','display: block !important');
            $('.light-box-custom-content').attr('style','display: block !important')
            return false;
        });


        $(document).on('click','#light-box-close_id', function(){
            $('.light-box-custom ').attr('style','display: none !important')
            $('.light-box-custom-content').attr('style','display: none !important')
        });

        $(document).on('click','.sub-form-btn', function(event) {
            // event.preventDefault();
            if ($('#sub-form-radio input:checked').val() == '' || $('#sub-form-radio input:checked').val() == null ){
                $('#sub-form-error').html('Please select one of the above options !');
                return false;
            }
            else
                return true;
        });

        <% if spree_current_user %>

        $("li.hide-mob").addClass("inner-hidden");
        $("li.show-mob").addClass("hide-desk");
        $("#drop_list").addClass("inner-hidden");

        <% end %>

        $("#proper-nav").on("click", "#snacks_scroll", function(){
          <% unless spree_current_user %>
            var current_link = window.location.pathname == "/"  || window.location.pathname == "/spree/signup/"  || window.location.pathname == "/spree/signup" ;

            if(!current_link){
                window.location = '/spree/signup/#whats_inside_the_box'
            }

            $('#whats_inside_the_box').ScrollTo({
                duration: 1000
            });
          <% end %>

        });


        $("div.benfit-section").on("click", "#add_box_button", function(){

            $('.order-today-section').ScrollTo({
                duration: 1000
            });

        });

        $(".bottom-text").on("click", "#snack_foot", function(){

            $('#whats_inside_the_box').ScrollTo({
                duration: 1000
            });

        });

    });

</script>

<header>

  <div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header logo-container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div>
        <%= link_to(image_tag("/assets/home/logo.png", :alt => "Vegan Snacks Logo",  class: 'vegan_logo img-thumbnail'), logo_navigation_path )  %>
      </div>

    </div>

    <div class="signin-form-nav hidden-section" style="background: white;">
      <div class="navbar-collapse collapse app-header mobile-view-screen">
        <div class="complete-top-section">
          <div class="row">

            <div class="col-md-4 pull-right  fb-top-close">
              <article>

                <p id="fb_logo">
                  <%= link_to(image_tag("/assets/home/fb_login.png", :alt => "Facebook login", class: 'img-thumbnail fb-login', id: 'fb_connect'), '/users/auth/facebook?login=true') %>
                  <!-- Temporarily Disabled links as per clients need -->
                </p>
                <p id="close">
                  <%= link_to(image_tag("/assets/home/close.png", :alt => "Close",  class: ' img-thumbnail'), "javascript:void(0)")  %>
                </p>
              </article>
            </div>
          </div>


          <div class="col-md-2 pull-right fb-line"> <span> Or </span> </div>
          <!-- Temporarily Disabled links as per clients need -->

          <div class="col-md-12  signin-row" id="user_login">
            <div class="welcome-message"><span class= 'show-well'>Welcome back</span> </div>
            <%=  form_for Spree::User.new, as: :spree_user, url: spree.spree_user_session_path, remote: true, authenticity_token: true do |f| %>
              <span class="login-para">
                <span class="input-fields">
                  <p class="email-login">
                    <%=  f.text_field :email, class: 'vegan-text-form-control', id: 'email_id', placeholder: 'Email Address' %>
                  </p>

                  <p class="pass-login">
                    <%= f.password_field :password, class: 'vegan-text-form-control', id: 'password', placeholder: 'Password' %>
                  </p>
                </span>

                <p class="sub-login">
                  <%= f.submit 'sign in' %>
                  <li class="nav mobile-fg-password" style="display: none;"><%= link_to 'Forgot password?', "/spree/password/recover", :class => "home-header-link" %> </li>
                   <li class="nav mobile-errors" style="display: none;"> </li>
                </p>
            <% end %>
            </span>

          </div>
          <!-- <div class="col-md-6 col-md-offset-5 errorrr" id="signup_password">
           <span></span>
          </div> -->
          <div class="col-md-6 col-md-offset-5" id="signup_password">
            <span>Don't have an account yet?<span id="signup_link">Sign Up</span></span>
            <% unless spree_current_user %>
                <%= link_to 'Forgot password?', "/spree/password/recover", :class => "home-header-link" %>
            <% end %>
            </span>
          </div>
          <div class="row"> <span id="signin_error" class="col-md-offset-8" >  </span></div>

        </div>
      </div>
    </div>

    <div class="app-navigation white-nav">
      <div class="navbar-collapse collapse app-header" id="vegan_header">

        <ul class="nav navbar-nav navbar-right hide-header-mob" id="proper-nav">

          <li class="nav hide-mob"> <%= link_to 'about us', main_app.aboutus_statics_path %></li>
          <!-- <li class="nav hide-mob"> <%#= link_to 'snacks',  main_app.snacks_statics_path  %> </li> -->
          <li class="nav hide-mob">
            <%= link_to 'snacks', "javascript:void(0)", id: 'snacks_scroll' %>
          </li>
          <li class="nav hide-mob"> <%= link_to "chef's blog",  main_app.posts_path %>    </li>
          <li class="nav hide-mob"> <%= link_to "contact us",  main_app.contactus_statics_path %> </li>


          <% if spree_current_user %>

              <li class="nav show-mob"> <%= link_to 'My Account',  main_app.profile_users_path %></li>
              <li class="nav show-mob"> <%#= link_to 'Update Subscription', "/my_subscriptions", :class => 'modal-link', :remote => true %> </li>
              <li class="nav show-mob"> <%= link_to 'Snack List', spree.products_path %></li>
              <li class="nav show-mob"> <%= link_to 'Snack Queue', spree.snack_queue_orders_path %> </li>
              <li class="nav show-mob"> <%= link_to 'Sign Out', spree.logout_path, :method => :get %> </li>
          <% end %>



          <% if spree_current_user %>

              <li class="dropdown header-dropdown"  id="drop_list">

                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-success btn-small" id="drop_dwn_btn">
                  <%= image_tag spree_current_user.image if spree_current_user.image.present? %>
                  <span id="act_nav"> MY ACCOUNT </span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li id="drop_my_acc"> <%= link_to 'My Account',  main_app.profile_users_path %></li>
                  <li > <%#= link_to 'Update Subscription', "/my_subscriptions", :class => 'modal-link', :remote => true %> </li>
                  <li id="drop_snack_list"> <%= link_to 'Snack List', spree.products_path %></li>
                  <li id="drop_snack_queue"> <%= link_to 'Snack Queue', spree.snack_queue_orders_path %> </li>
                  <li> <%= link_to 'Sign Out', spree.logout_path, :method => :get %> </li>
                </ul>

              </li>

          <% else %>

              <% unless @hide_signin %>
                  <li class="nav"><%= link_to 'sign in', 'javascript:;', :class =>  'signin', :id => "signin_button" %> </li>
              <% end %>
          <% end %>

        </ul>

      </div>
    </div>
</header>