<div class = "change-font-size">

  <span><%= image_tag('/assets/vegan-account/vegan-account_19.png', :class => 'img-thumbnail') %></span>
  <span class="my-acc">My Subscriptions </span>
            <span class="edit-acc">
            <span id="subscription_create">
              <%= link_to " > Create a new subscription today", " /my_subscriptions/create_new_subscription", :class => 'modal-link ',:remote => true %>
            </span>
              <br>
              <span id="subscription_create">
                <%= link_to "> update subscription", "/my_subscriptions", :class => 'modal-link', :remote => true  if @active_subscriptions.present? %>
              </span>
              <!--
              This cancel subscription link was opening modal pop up with list of subscriptions
              which customer can cancel
              <span id="subscription_cancel">
                <%#= link_to '> Cancel Subscription', prompt_cancelation_my_subscriptions_path,
                  class: 'modal-link', remote: true  if @active_subscriptions.present? %>
              </span>
              -->

            </span>

</div>

<div class="personal-info">
  <div class="account-context" id="profile_sub_list">
    <% if @active_subscriptions.blank? %>
      <span> You don't have any active subscription. </span>

    <% else %>
        You have got following active Subscriptions.

        <% @active_subscriptions.each do |subscription| %>
            <div class = "change-font-size <%= 'blocked-subscription' if unblock_subscription?(subscription) %>" >
              <span> </span>
              <span> <%= subscription[:type] %> , </span>
              <span> <%= subscription[:delivery_date] %> </span>
              <span> <%#= link_to 'block', block_my_subscription_path(id: subscription[:id]), method: :post %></span>
              <span>
                <%#= link_to "Pause", pause_my_subscriptions_path(id: subscription[:id]),
                method: :post, id: "sub_pause" if subscription[:status] == "active"%>


              <%#= link_to "Resume", "javascript:void(0)", id: "sub_resume", class: "sub-action",
                   data: {sub_id: subscription[:id], target: "resume"}  if subscription[:status] == "paused" %>

                <%= link_to "Resume", "javascript:void(0)", id: "sub_resume", class: 'sub-action',
                   data: {sub_id: subscription[:id], target: "resume"}  if resume_subscription?(subscription) %>

                <%= link_to "Unblock", "javascript:void(0)", id: "sub_unblock", class: "sub-action",
                  data: {sub_id: subscription[:id], target: "unblock"}  if unblock_subscription?(subscription) %>

                <%#= link_to "Update Payment Info", "javascript:void(0)", id: "sub_pay_update",
                  data: {sub_id: subscription[:id]} %>

                <!-- resume_my_subscriptions_path(id: subscription[:id]), method: :post, -->
              </span>
            </div>
           <em class='blocked-line'> <%= "Subscription is blocked as creditcard has expired." if unblock_subscription?(subscription) %> </em>
        <% end %>

    <% end %>
    <%= hidden_field_tag :resuming_subscription, '', id: 'resume_subscription' %>
    <!-- we don't need to create any other hidden field handing with a single ajax call, follow subscription.js file for further info -->
    <%#= hidden_field_tag :credit_card, '', id: 'target_card' %>
  </div>
</div>