
<div class="profile-body">

  <div class="account-title"> my account </div>

  <div id="sub_can_notify">
    <span class="succ-msg"> <%= flash[:sub_cancelled] %>  </span>
    <span class="unathorized-error"> <%= flash[:error] %>  </span>
  </div>

  <div class="row row-back">

    <div class="col-md-10 col-md-offset-1 dash-body">

      <div class="col-md-9" id="left_account" style="width:70%">

        <div class="account-head head-title-view" id="dash_personal">
          <%= render :partial => "users/dash_personal_profile_view"   %>
        </div>

        <div class="account-head head-title-view">
          <%= render :partial => "users/my_subscription" %>
        </div>

        <div class="account-head head-title-view">
          <%= render :partial => 'users/my_address_book' %>
        </div>

        <div class="account-head head-title-view" id="credit_card_section">
            <%= render :partial => "users/payment_info" %>
        </div>

      </div> <!-- End of the left side account Section -->


      <div class="col-md-3">
        <%= render :partial => "account_contact" %>
      </div>  <!-- End of the right side account Section -->


    </div> <!-- ENd of the dash-body Section -->
  </div>

</div>


<div id="account_address_edit_mod">
  <%= render :partial => "users/address_edit_modal" %>
</div>

<%= render :partial => "users/account_edit_modal" %>
<%= render :partial => "users/password_edit_modal" %>
<!-- <div id="credit_card"> <%# render :partial => "users/credit_card" %> </div> -->
<div id="address_delete"><%= render :partial => "users/delete_address" %> </div>


<!-- this partial for the payment modal during subscription resume functionality -->
<%#= render partial: 'credit_card' %>

<!-- this partial for the payment modal during subscription resume functionality -->
<%= render :partial => "users/credit_card" %>
