
<div class="snack-show-name">
  <%= @snack.name %>
</div>

<div class="left-show">
  <div class="snack-show-description">
    <%= @snack.description %>
  </div>

    <div class="snack-show-price">
        <%= display_price(@snack) %>
    </div>

    <%= link_to 'Add to queue', '#', class: 'btn btn-small btn-success' %>
</div>



<div class="right-show">
    <div class="snack-show-image">
      <%= image_tag(@snack.images.first.attachment.url(:original), class: 'img-thumbnail') %>
    </div>
</div>




                  <!--
<%# @snack.images.each do |i| %>
    <li class='tmb-all tmb-<%#= i.viewable.id %>'>
      <%#= link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:large)) %>
    </li>
<%# end %>

-->