  <div class="container product-listing">
    <div class="row list-title"> snack list</div>

    <% @snacks.each_slice(5) do |batch| %> <!-- looping snacks in group of 5 as I need to show 5 per row -->
        <div class="row snack-list-body">
          <% i=0 %>
          <% batch.each do |element| %>

              <% if i % 5 == 0 %> <!-- on this condition adding few extra class to first snack packet -->

                  <div class="col-md-2 col-md-offset-1 snack-div" id= <%= "snack_"+ element.id.to_s %> >
                    <%= link_to (product_image(element, :itemprop => "image", class: 'img-thumbnail prd-img')),main_app.snack_show_path(id: element.id)%>
                    <%= image_tag('/assets/vegan-snack-list/box-bg-hov.png', class: 'img-thumbnail hover-image', id: "hover_image_#{element.id}" )%>
                    <span class="snack-name"> <%= link_to element.name, main_app.snack_show_path(id: element.id), class: 'fancybox' %> </span>
                    <span class="queue"> <%= link_to 'add to queue', main_app.my_subscription_subscriptions_path %> </span>

                  </div>

                <% else %>

                  <div class="col-md-2 snack-div" id= <%= "snack_"+ element.id.to_s %> >
                    <%= link_to (product_image(element, :itemprop => "image", class: 'img-thumbnail prd-img')),main_app.snack_show_path(id: element.id)%>
                    <%= image_tag('/assets/vegan-snack-list/box-bg-hov.png', class: 'img-thumbnail hover-image', id: "hover_image_#{element.id}" ) %>
                            <span class="snack-name"> <%= link_to element.name, main_app.snack_show_path(id: element.id), class: 'fancybox' %> </span>
                    <span class="queue">
                      <%= link_to 'add to queue', main_app.add_to_subscription_subscriptions_path(id: element.id) %></span>
                  </div>
                                  <!--main_app.add_to_subscription_subscriptions_path(id: element.id), method: :post-->
              <% end %> <!-- End of the if/else condition -->

            <% i = i+1 %>
            <% end %> <!-- End of inner loop -->

        </div> <!-- End of row snack-list-body divison -->
   <% end %> <!-- End of the outer loop -->

