    App.unBlockUI($('.snack-queue-page'));

<% if is_pause?(@target_action) %>


    <% header =  "Pause Subscription" %>
    <% body = "Are you sure to pause this subscription?" %>
    <% submit = "Confirm Pause" %>
    <% append_class = 'btn pause-warning' %>
    <% url = '/' + @controller + '/' + @sub_id + '/' + @target_action  %>

<% elsif is_cancel?(@target_action) %>

    <% header =  "Cancel Subscription" %>
    <% body = "<div> Are you sure to cancel this subscription? </div> <div> It will also cancel next subsequent orders. </div>" %>
    <% submit = "Confirm Cancelation" %>
    <% append_class = 'btn cancel-danger' %>
    <% url = '/' + @controller + '/' + @sub_id + '/' + @target_action  %>

<% else %> /* this is the update action */

    <% if is_update?(@target_action) %>
        App.blockUI($('.snack-queue-page'));
        $('#subscription_confirm_modal').data('modal', null);
        $("#update_sub_form").submit();
    <% end %>

<% end %>



    <% unless (is_update?(@target_action)  || @locked_order.present?) %>
        $("#confirm_head").text('<%= header %>');
        $("#confirm_body").html('<%= raw body %>');
        $("#submit_sub_confirm").text('<%= submit %>');
        $("#submit_sub_confirm").attr('href', '<%= url %>');
        $("#submit_sub_confirm").attr("data-method", '<%= @method %>' );
        $("#submit_sub_confirm").removeClass().addClass("<%= append_class %>");
        $("#confirm_body div").addClass('cap-me');
        $("#subscription_confirm_modal").modal('show');
    <% end %>


    <% if @locked_order.present? %>
        <% subject =  is_cancel?(@target_action) ? 'canceled' : 'paused' %>
        <% message = "Subscription can't be  #{subject} as shipment for order ##{@locked_order} is in progress." %>
        $("#update_incomplete_queue").html("<%= message %>");

        setTimeout(function(){
             $("#update_incomplete_queue").empty();
        }, 7500);

    <% end %>
