<% content_for :page_title do %>
  <%= Spree.t(:listing_orders) %>
<% end %>



  <%= paginate @orders  if params[:action] == "index" %>


<div id='order_range'>

  <%= form_tag spree.range_admin_orders_path, remote: true do |f|%>

    <%= text_field_tag :start_range, nil, id: 'date_start',
        class: 'order-datepicker', placeholder: 'Select starting date', readonly: true %>

    <%= text_field_tag :end_range, nil, id: 'date_end',
        class: 'order-datepicker', placeholder: 'Select End date', readonly: true %>

    <div id="filter_export">
      <div id="filter_result"></div>
      <%= submit_tag  'Filter orders', class: 'filter-btn'%>
      <%= link_to 'export to excel', spree.export_admin_orders_path(format: "xls"), method: :post, class: 'filter-btn' %>
    </div>


  <% end %>

</div>


<% if @orders.any? %>
<div id="orders_list">

<%= render :partial => "order_list" %>

</div>

<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>!
  </div>
<% end %>

<%= paginate @orders  if params[:action] == "index" %>
