    <div class="container footer-section">

  <div class="row footer-icons">
    <div class="col-md-3 col-sm-3 col-xs-3 footer-offset">
      <%= image_tag('/assets/home/vegan-final_28.png', class: 'img-thumbnail footer-image') %>
      
        <ul class="bottom-text">
          <h6 class="vegan-color">vegan lifestyle</h6>
          
            <li> <%= link_to "chef's blog",  main_app.posts_path, class: 'vegan-foot-link' %> </li>
            <li> <%= link_to "Snack Nutritional Info","javascript:void(0)" , class: 'vegan-foot-link', id: 'snack_foot' %> </li>
            <!-- '/statics/snacks#whats_in_the_box' -->
             <!-- <li>recipes</li> 
             <li>featured stories</li>
             <li>food tips & guides</li>
              <li>bulk nutritional info</li> -->
        </ul>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= image_tag('/assets/home/vegan-final_31.png', class: 'img-thumbnail footer-image') %>
      <ul class="bottom-text">

        <h6 class="about-color">about us</h6>

        <li> <%= link_to "Chef Naomi", '/statics/aboutus', class: 'vegan-foot-link' %> </li>
        <li> <%= link_to "FAQ", 'https://vegansnackpacks.zendesk.com/hc/en-us', class: 'vegan-foot-link' %> </li>
        <!-- Temporarily Disabled links as per Clients need -->

      </ul>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= image_tag('/assets/home/vegan-final_34.png', class: 'img-thumbnail footer-image') %>

      <ul class="bottom-text">

        <h6 class="contact-color">contact us</h6>
        <li>Vegan Snack Packs</li>
        <!-- <li>miami, FL </li> -->
        <li>(786) 405-9556</li>
        <li class="normal"> support@ahimsacuisine.com</li>
      </ul>

    </div>
  </div>

  <hr class="complete-row">
    <div class = "footer-images">
      <a href="https://www.facebook.com/vegansnackpacks" target="_blank"><%= image_tag('/assets/footer/facebook-icon.png') %></a>
      <a href="https://twitter.com/vegansnackpacks" target="_blank"><%= image_tag('/assets/footer/twitter-icon.png') %></a>
      <a href="http://www.pinterest.com/vegansnackpacks" target="_blank"><%= image_tag('/assets/footer/pinterest-icon.png') %></a>
      <a href="http://instagram.com/vegansnackpacks" target="_blank"><%= image_tag('/assets/footer/instagram-icon.png') %></a>
      <a href="https://plus.google.com/112086244209032818992/posts" target="_blank"><%= image_tag('/assets/footer/google-icon.png') %></a>
    </div>
  <div class="copyright-footer">
    <!-- &copy; 2014 Ahimsa Cuisine. All Rights Reserved. -->
    &copy; 2014 Vegan Snack Packs. All Rights Reserved.
    
  </div>

</div>