
<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 top-buffer save-planet-content" id="ind_snacks_render">

  <div class="col-md-5 col-sm-5 horizontal-line">
    <div class="close-individual"> X </div>
    <div class="banana-split"> banana split </div>

    <div class="banana-description">100% Organic cavendish bananas, golden
      cherries & coconut. Organic cavendish banas, golden cherries & coconut.
    </div>

    <!--<div> <%#= image_tag("/assets/vegan-snacks/vegan-snacks_13.png", alt:'USGA Logo', size: "10X10")%> </div> -->
    <div class="banana-image"> <%= image_tag("/assets/vegan-snacks/tick.png", alt: 'Banana Split', size: "10X10", class: 'bsplit img-thumbnail', :id => "banana-img")%> </div>
  </div>


  <div class="col-md-7 col-sm-7">
    <div class="col-md-6 col-sm-6 offset-1  benfit-section">
      <div class="benfit">Benefits</div>

      <div class="benfit-line">
        <%= image_tag("/assets/vegan-snacks/tick.png", :alt =>'Yes', size: "10X10", class: 'tick')%>
        <span class="initCap">Organic</span>
      </div>

      <div class="benfit-line">
        <%= image_tag("/assets/vegan-snacks/tick.png", :alt =>'Yes', size: "10X10", class: 'tick')%>
        <span class="initCap"> Non-GMO </span>
      </div>

      <div class="benfit-line">
        <%= image_tag("/assets/vegan-snacks/tick.png", :alt =>'Yes', size: "10X10", class: 'tick')%>
        <span class="initCap"> Gluten Free </span>
      </div>

      <div class="benfit-line">
        <%= image_tag("/assets/vegan-snacks/tick.png", :alt =>'Yes', size: "10X10", class: 'tick')%>
        <span class="initCap boldtext"> Vegan </span>
      </div>

      <div class="benfit-line">
        <%= image_tag("/assets/vegan-snacks/tick.png", :alt =>'Yes', size: "10X10", class: 'tick')%>
        <span class="initCap boldtext"> 100% Raw </span>
      </div>

      <div class=" btn btn-small benfit-button nutrition-button btn">nutrition</div>

      <div class="btn btn-small benfit-button ingredient-button">ingredients</div>

      <div class="btn btn-small benfit-button" id ="add_box_button">add to box</div>

    </div>

    <div class="col-md-6 col-sm-6 nutro-fact-mbl">

      <div class = "nutri-image"> <%= image_tag("/assets/vegan-snacks/image9.png", alt:'Nutrition Facts', size: "10X10", class: 'nutrition_fact')%> </div>
    </div>
    <div class = "ingredients-list">
      
    </div>

  </div>


</div>
