<div class="slider-nav">
  <ul>
    <li class="active-bullet first-bullet" data-target=".contact-page"> </li>
    <li class="second-bullet" data-target=".footer-section"> </li>
  </ul>
</div>

<div class="container contact-page">

  <div class="row-fluid contact-page-background contact-page-block-set">

    <div class="contact-image span12 first-win">
          <div class="contact-title">
            <h1> CONTACT US </h1>
         </div>
    </div>

    <div class="col-md-8 col-md-offset-2 search">
      <div class="row search-section   form-horizontal">

        <input id="search" name="search" placeholder="Have a question? Ask or enter a search term here."/>
        <button class="btn search-button"> search </button>
    </div> <!-- End of the row -->

    <div class="row">
       <div class="col-md-8 right-row">
         <h3 class = "change-color frequent-questions"> FREQUENTLY ASKED QUESTIONS</h3>
         <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="question-listed">
              <h5 class="question-list">Snack Pack Questions </h5>
              <li><%= link_to 'What is Vegan Snack Pack?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %> </li>
              <li><%= link_to 'How do I get started?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %> </li>
             </ul>
           </div>

           <div class="col-md-6 col-sm-6 col-xs-6">
             <ul class="question-listed">
               <h5 class="question-list">shipping </h5>
               <li><%= link_to 'How can I change my address?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %>  </li>
               <li><%= link_to 'Do you charge for delivery?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %>  </li>
             </ul>
           </div>
         </div>
<!--faq_statics_path -->

         <div class="row hide-mob-landscape">
           <div class="col-md-6">
             <ul class="question-listed">
               <h5 class="question-list">cancelation & billing</h5>
               <li><%= link_to 'How do I cancel my subscription?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %></li>
               <li><%= link_to 'How do I update my payment info?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %></li>
             </ul>
           </div>

           <div class="col-md-6">
             <ul class="question-listed">
               <h5 class="question-list">our snacks </h5>
               <li><%= link_to 'What should I expect in the box ?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %></li>
               <li><%= link_to 'Can I choose my own snacks?', "https://vegansnackpacks.zendesk.com/hc/en-us", :class => "link-question" %></li>
             </ul>
           </div>
         </div>

         <!--<div class="row hide-mob-landscape">
           <div class="col-md-6">
             <ul class="question-listed">
               <h5 class="question-list">Gifts</h5>
               <li><%#= link_to 'How do I send a gift ?', faq_statics_path, :class => "link-question" %></li>
             </ul>
           </div>

           <div class="col-md-6">
             <ul class="question-listed">
               <h5 class="question-list">Carbon Credits</h5>
               <li><%#= link_to 'How do carbon credits work?', faq_statics_path, :class => "link-question" %></li>
             </ul>
           </div>
         </div> -->


       </div>

      <div class="col-md-3 contact-details">
        <h3 class="change-color"> contact us</h3>

        <ul class="contact-listed">
              <span> <%= image_tag('/assets/vegan-contact/vegan-contact_03.png', class: 'img-thumbnail') %>Call</span>
          <li>(786) 405-9556</li>
          <li>Monday-Friday</li>
          <li>9am-5pm EST</li>
        </ul>


        <ul class="contact-listed">
          <span> <%= image_tag('/assets/vegan-contact/vegan-contact_06.png', class: 'img-thumbnail') %>Email</span>
          <li> support@ahimsacuisine.com</li>
        </ul>


       </div>

    </div>
    </div>
      </div>
    </div>

<!-- This is the footer section of this Complete Application -->

<div class="second-win">
<%= render 'statics/application_footer' %>
</div>