<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="icon" type="image/png" href="../assets/new-design/fav-icon.png" />
	<title>Vegan Snack Pack</title>
</head>

<body>

<section class="main-ind-slider"> 
   
      <div class="slider-ind-sec">
      <div class="next"></div>
       <ul class="bxslider">	  	   

     		<li>
          <div class="pre-btn-slider"><%=link_to image_tag("/../assets/new-design/arrow-lt-ind.png"),"/statics/individual_product?snack=#{@previous.id}" if @previous%></div>
          <div class="next-btn-slider"><%=link_to image_tag("/../assets/new-design/arrow-rt-ind.png"),"/statics/individual_product?snack=#{@next.id}" if @next %></div>
        <%= image_tag(@snack.images.first.attachment.url(:large),:id=>@snack.id) %></li>
		  </ul>  
      </div>		  
            
         <div class="clr"></div>          
	 
	  
	  
	  
     <div class="inner-sec-slider">
	   <div class="heading-inner-slider">
           <div id="tabsholder2" class="my-tab">
           <!-- <h1>Aenean<span> eu </span>sagittis</h1> -->
           <h1><%= @snack.name%></h1>
          <!--  <p>Proin vitae pellentesque nisi.Suspendisse eleifend 
posuere imperdiet. Etiam feugiat leo ipsum, id 
commodo sem </p> -->
          <p><%= @snack.description%></p>
        <ul class="tabs">
            <li id="tabz1" onclick="window.location.href='/statics/membership';">Add to Box</li>

            <li id="tabz2">Ingredients</li>
            <li id="tabz3">Facts</li>
          
        </ul>
        <div class="contents marginbot" id="tabs_1">
            <div style="display: block;" id="contentz1" class="tabscontent">
              <h3>Anenean</h3>
           <p>Suspendisse tincidunt mauris vel ligula fermentum 
imperdiet. Quisque vel feugiat urna. Nam auctor 
blandit risus a dignissim. Etiam a nisl eget nulla 
vel diam et convallis.</p>

			</div>

            <div style="display: none;" id="contentz2" class="tabscontent">
                <h3>Ingredients</h3>
                <p><%= sanitize(@snack.ingredients,:tags=>['p'])%></p>
           <!-- <p>Suspendisse tincidunt mauris vel ligula fermentum 
imperdiet. Quisque vel feugiat urna. Nam auctor 
blandit risus a dignissim. Etiam a nisl eget nulla 
vel diam et convallis.</p> -->
            </div>
            <div style="display: none;" id="contentz3" class="tabscontent">
             <h3>Facts</h3>
           <p><%= image_tag @snack.nutritional_fact_image.url %></p>
            </div>
      
        </div>

    </div></div>
	 </div>
   
</section>

<footer>
  <%= render "statics/application_footer"%>
  
</footer> 
</body>
