
<%= form_tag "/my_subscriptions/#{@my_subscription.id}?updated_subscriber_id=#{params['updated_subscriber_id'] || @my_subscription_id}", :method => :put, id: 'update_sub_form' do %>

    <div class="first-delivery subscription-row">
      <div class="queue-tile">
        <div class="month-tile"> next order Ships by <%= @cart.delivery_date.strftime("%B %d, %Y") %> </div>
      </div>


      <div class="snack-update-list" id="subscription_update_section">
        <%= render 'carts/update_cart_items', locals: {total_space: @total_space, current_cart_items: @current_cart_items} %>
      </div>

    </div>

    <div class="update-sub-but" id="sub_update_section">
       <%= hidden_field_tag 'cart_id', @cart.id %>
       <%= hidden_field_tag 'old_order_id', @order.id %>
        <% unless flash[:success] %>
          <%= link_to 'Pause Subscription',
          prompt_confirmation_modal_my_subscriptions_path(id: @my_subscription.id, target: 'pause', method: 'post'),
          remote: true,
           id: 'pause_subscription_submit', class: 'vegan-sub-btns' if @enable_pause %>

          <%= link_to 'Update Subscription',
          prompt_confirmation_modal_my_subscriptions_path(id: @my_subscription.id, target: 'update',
            method: 'post', updated_subscriber_id: params['updated_subscriber_id'] || @my_subscription_id), remote: true,
            id: 'update_subscription_submit', class: 'vegan-sub-btns' if @enable_update %>

            <%= submit_tag 'update subscription', id: 'update_subscription_final', class: 'vegan-sub-btns' unless @enable_update %>

          <%= link_to 'Cancel Subscription',
            prompt_confirmation_modal_my_subscriptions_path(id: @my_subscription.id, target: 'submit_cancel', method: 'post'),
            remote: true, id: 'cancel_subscription_submit', class: 'vegan-sub-btns' if @enable_cancel %>

            <%= link_to "Update Payment Info", "javascript:void(0)", id: "sub_pay_update", class: 'vegan-sub-btns',
                  data: {sub_id: @my_subscription.id} %>

        <% end %>
    </div>
<% end %>
