<div class="modal fade" id="snacks_modal">
  <div class="modal-dialog" id="snack_show_modal" >
    <div class="modal-content full-height" id="snack_show_modal_content">
      <div class="modal-header header-style">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div id="snack_s_name"> Snack List </div>
        <div style="min-height:30px !important">
          <div class="snack-added" style="display:none;"> Item added to your Cart.</div>
        </div>
      </div>

      <div class="modal-body">
        <div class="full-snacks">
          <% @snacks.each do |snack| %>
              <div class="snack-tab">
                <div class="img-thumbnail snack-image-product-view">
                  <%= link_to (product_image(snack, itemprop: "image", class: 'img-thumbnail')), '#' %>
                </div>
                <div class="snack-name"><%= truncate(snack.name, length: 25, separator: '') %></div>
                      <div class="queue-button" onclick='add_snack(<%= snack.id %>, <%= @cart.id %>)'>
                  <div>
                    <%#= link_to 'add to queue', main_app.add_carts_path(variant_id: snack.id, cart_id: @cart.id), remote: true, method: :post %>
                    <%= link_to 'add to queue', "javascript:void(0)"  %>
                  </div>
                </div>

              </div>
          <% end %>
        </div>
      </div>
    <div style='clear:both;'></div>
    </div>
  </div>

</div>