<% content_for :page_title do %>
  <%= Spree.t(:subscription) %>
<% end %>


<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_subscription), '/spree/admin/subscriptions/new', { :remote => true, :icon => 'icon-plus', :id => 'admin_new_subscription' } %>
  </li>
<% end%>

 
<% if @subscriptions.present? %>
  <table class="index" id="listing_subscriptions">
    <colgroup>
      <col style="width: 3%;">
      <col style="width: 20%;">
      <col style="width: 20%;">
      <col style="width: 30%;">
      <col style="width: 10%;">
      <col style="width: 17%;">
    </colgroup>
    <thead>
      <tr>
        <th><%= Spree.t(:id)%></th>
        <th><%= Spree.t(:name)%></th>
        <th><%= Spree.t(:quantity)%></th>
        <th><%= Spree.t(:plan_id) %></th>
        <th><%= Spree.t(:price)%></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |subscription|%>
        <tr id="<%= "subscription#{subscription.id}"%>" data-hook="admin_subscriptions_index_rows" class="<%= cycle('odd', 'even') %>">
          <td>
            <%= subscription.id %>
          </td>
          <td>
            <%= subscription.name %>
          </td>
          <td>
            <%= subscription.quantity %>
          </td>
          <td>
            <%= subscription.plan_id %></td>
          <td>
            <%= subscription.price %>
          </td>
          <td class="actions">
            <%= link_to "", "/spree/admin/subscriptions/#{subscription.id}/edit", {:data => {:action => "edit"}, :class => "edit icon_link with-tip icon-edit no-text"}  %>
            &nbsp;
            <%= link_to "", "/spree/admin/subscriptions/#{subscription.id}", {:method => 'delete', :data => {:action => "remove", :confirm => "Are you sure?"}, :class => "delete-resource icon_link with-tip icon-trash no-text"}  %>
            <!--<a title="Clone" href="http://0.0.0.0:3000/spree/admin/products/copy-of-20140426182313/clone" data-action="clone" class="clone icon_link with-tip icon-copy no-text"></a>-->
            <!--&nbsp;-->
            <!--<a title="Delete" href="http://0.0.0.0:3000/spree/admin/products/copy-of-20140426182313" data-confirm="Are you sure?" data-action="remove" class="delete-resource icon_link with-tip icon-trash no-text"></a>-->
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= 'No subscriptions found' %>,
    <%= link_to Spree.t(:add_one), '/spree/admin/subscriptions/new' %>!
  </div>
<% end %>

