<section class="blog-bg"><% if @banner_image[0].nil? %>
								<%= image_tag "/../assets/new-design/blog-bg.jpg"%>
							<%else%>
								<%= image_tag(@banner_image[0].image.url, :alt => "recipe image")%>
							<%end%>
				  
<div class="inner-content-bg">
  <div class="heading-main-bg">Chef’s Blog</div>
  <div class="sub-heading-main-bg"><%=  @first_post.title %> </div>
  <div class="read-main-bg"><%=link_to "Read Post","/posts/1"%></div>
 </div> 
</section>

<section class="blog-content">
	<div class="main-heading-content">
    
	  <div class="recent-posts">Recent Posts</div>
	</div>
	 <% @recent_posts.each do |post| %>	
	<div class="first-blog">
	   <div class="heading-first-blog"><%= post.title%></div>
	   <div class="outer-det-fst-blog">
	   <div class="det-fst-blog">
	      <div class="date-fst-blog"> <%= post.created_at.strftime("%B %e, %Y").upcase %> </div>
		  <div class="com-fst-blog"><%= post.comments.count%></div>
		  <div class="like-fst-blog">9</div>
	   </div>
	   </div>
	   
	   <div class="img-para-blog">
	     <div class="left-img-para">
		   <%= post.post_image.present? ? (image_tag(post.post_image.url(:recent), :alt => "recipe image")) : ((image_tag "blog/blog_default.png")) %>
		   <!-- <img src="../assets/new-design/blog-img1.jpg"> -->
		 </div> 
         <div class="right-img-para1">
		   <p> <%=  Nokogiri::HTML(post.content).text.truncate(800) %> </p>
           
		   <div class="read-more"><%= link_to "Read More", post %></div>
		    
		 </div>  
		 		 
         <div class="clr"></div>		 
	   
	   </div>
	</div>
	
	 <div class="clr"></div>	
	 
	 
	 <div class="gray-line">&nbsp;</div>
	 
	 <%end%>
	  
	 	
	 <div class="clr"></div>		 
	 
	 <div class="gray-line">&nbsp;</div>
	 
	 <div class="pagination-main">
	    
		  <%= will_paginate(@recent_posts) %>
		
	 </div>
  

</section>

<footer>
  <%= render 'statics/application_footer'%>
</footer> 


<script>
/*$(document).ready(function(){
 $('#myButton').click(function() {

   $.scrollTo($('#myDiv'), 1000);
});
});*/


$(document).ready(function(){
 $('.how-it-works-text a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top-150
    }, 1500);
    return false;
});
});

    
</script>

