<div class="post_wrapper">
<div class="post_title entry-title"> <%= @post.title %> </div>
    
    

    <div class="left_content">
      <div id='post_content'>
        <%= (@post.content).html_safe %>
        <div class="footer_section">
        <div class="social-share-top">
      

      <a href = "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F<%= Vegan::Application.config.share_url %>posts/<%= @post.id %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false">
      <%= image_tag ('/assets/vegan-share/facebook-share.png') %></a>

      

      <a id="ref_gp" href="https://plus.google.com/share?url=<%= Vegan::Application.config.image_url %>posts/<%= @post.id %>"
onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false"><img src="/assets/vegan-share/google-share.png" alt=""/></a>


      <!-- <a id="ref_lkd" href="http://www.linkedin.com/shareArticle?mini=true&url=<%= Vegan::Application.config.image_url %>posts/<%= @post.id %>&title=Vegan Snack Packs&summary=Blog Post&source=<%= Vegan::Application.config.image_url %>"
onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false;"><img src="/assets/vegan-share/linkedin-share.png" alt=""/></a> -->


      <a id="ref_tw" href="http://twitter.com/home?status=<%= Vegan::Application.config.share_url %>posts/<%= @post.id %>"  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false;"><img src="/assets/vegan-share/twitter-share.png" alt=""/></a>
      
      <%#= social_share_button_tag(@post.title, :url => post_url(@post) ) %>
    </div>
      <div class="tag_list">
        <% @post.tags.each do |tag| %>
            <span><%= link_to tag.tagname, '#' %></span>
            <span> <%= hidden_field_tag :id, tag.id %> </span>
        <% end %>
      </div>
      <div class="disqus">
          <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'vegansnackpack'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>

      
      </div>
      </div>
    </div>

    <div class="col-md-3 border-line show-latest">
      <div class="latest-post-title"> latest posts </div>

      <% @latest_posts.each do |post| %>
          <div class="row">
            <%= post.post_image.present? ? (link_to image_tag( post.post_image(:latest), :alt => "recipe image", class: 'latest-post-image'), post) : (link_to (image_tag "blog/blog_default.png", class: 'latest-post-image'), post) %>
          </div>

          <div class="row recipe-name lat-recipe"><%= link_to post.title, post %> </div>
      <% end %>

    </div>


    
</div>
<footer>
  <%= render 'statics/application_footer'%>
</footer> 
<style type="text/css">
  .post_wrapper{
    padding-top: 100px;
  }
</style>