<div class="inner-sec-bmem">
	<div class="logo-bmem"><a href="/"><img src="../assets/new-design/logo.png"></a></div>
	
	<%if params[:location] %>
		<div class="outer-top-num">
			<div class="top-num-bmem_step_4">
		    	<ul>
		    		<li class="list "><span>1</span></li>
					<li class="list1 "><span>2</span></li>
					<li class="list2"><span>3</span></li>
					<li class="list4 active"><span>4</span></li>
		   		</ul>
		 	</div>
		</div>
	<%else%>
		<div class="outer-top-num-3-step">
			<div class="top-num-bmem">
				<ul>
	    			<li class="list "><span>1</span></li>
					<li class="list1 "><span>2</span></li>
					<li class="list2 active"><span>3</span></li>
				</ul>
			</div>
		</div>
		<%end%>
		<div class="outer-top-num-3-step">
			
		</div>
		<div class="heading-bmem-3-step">Complete Membership</div>
    	<div class="main-content-sec" style="display:block;">	 
			<div class="left-bmem">
		   		<div class="heading-left-bmem">
		  			<%= @package%>
		   		</div>
		   		<div class="image-left-bmem"><img src=<%=@image%>></div>
		   		<div class="price-left"><%= show_plan_name_and_price(@subscription) %><span>/ month</span></div>
		   		<div class="shipping-txt-left">Free Shipping</div>
		   		<div class="shipping-txt2-left">Renews Automatically</div>
		   		<div class="shipping-txt2-left">Cancel Anytime</div>
		    	<div class="shipping-txt2-left">Money backed guarantee</div>
		 	</div>
	 	<div class="right-bmem">
	 		<div id="form_errors_div"></div>
	 
	 		<div class="left-content-third">
	    		<div class="heading-right-bmem">
	    			Billing Address
	   			</div>
	   			<div class="add-detail-lft-third" id='ship_first_name'>David Hawk </div>
	   			<div class="add-detail-lft-third" id='ship_address_1'>3022 , Biscayne Blvd,</div>
	    		<div class="add-detail-lft-third" id='ship_address_2'>Lane-lh</div>
		 		<div class="add-detail-lft-third" id='ship_city'>AK-10078</div>
		 		<div class="add-detail-lft-third" id='ship_state'>AK-10078</div>
		 		<div class="edit-lft-third" id="confirm_edit_1"><a id = "edit1" href="javascript:void(0)">edit</a></div>
		 		<!-- Credit card details here -->
		 		
		 		<div class="heading-right-bmem_credit">
	    			Credit Card
	   			</div>
		 		<div class="add-detail-lft-third" id='ship_credit_card'>AK-10078</div>
		 		<div class="add-detail-lft-third" id='ship_valid'>AK-10078</div>
		 		
		 		<!-- creditcard end-->
		  		
	   		</div>  
	 
    		<div class="right-content-third">
	    		<div class="heading-right-bmem">
	    			Shipping Info
	   			</div>
	   			<div class="add-detail-lft-third" id='bill_first_name'>David Hawk </div>	   
	    		<div class="add-detail-lft-third" id='bill_address_1'>320 street,</div>
		 		<div class="add-detail-lft-third" id='bill_address_2'>Miami Beach  AK-10078</div>
		 		<div class="add-detail-lft-third" id='bill_city'>Miami Beach  AK-10078</div>
		 		<div class="add-detail-lft-third" id='bill_state'>AK-10078</div>
		 		<!-- <div class="add-detail-lft-third" id='bill_state'>Miami Beach  AK-10078</div> -->
		 
		  		<div class="edit-lft-third" id="confirm_edit_2"><a id="edit2" href="javascript:void(0)">edit</a></div>		
	 		</div>       
	   
	    	<div class="right-join-third"><%= button_tag 'Join VSP' %></div>
	    	<div class="clr"></div>
		
		
			<div class="bottom-para-third"><p>Your card will be charded $<%=@subscription.plan_price%> for your 1st box of Vegan Snack Packs and auto-renew at $<%=@subscription.plan_price%> monthly. By clicking "Join VSP", you agree to Vegan Snack Packs' <a href="javascript:void(0)">Term & Conditions</a></p></div>
	 	</div>
	 	<div class="clr"></div>
	</div>	 
	<div class="btm-btns" id="confirm_bill">
		<div class="left-btm-btn"><a id ="cofirm_back" href="javascript:void(0)">Back</a></div>
	</div>
	 
</div>

<script>

$(function() {
	$('input, textarea').placeholder();				//Placeholder for IE   
});	

</script>
<style type="text/css">
	#form_errors_div{
		color: red;

	}
	.heading-right-bmem_credit {
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
}
</style>