
<div class="row" id="order_billing">

  <div id="billing_form_div" class="col-md-12 col-sm-12 col-xs-12">
    <div id="billing_add_title">billing address</div>
    <span id="copy_add">

      <%= f.fields_for :addresses do |address| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag :address_check %>
              <%= label_tag  "Check if same as shipping address" %>
            </label>
          </div>

          <div class="form-group">
            <div class="short-div">
              <%= label_tag "first Name" %>
              <%= address.text_field :firstname, :class => 'form-control' %>
              <label class="bill-error" for="bill_firstname"></label>
            </div>

            <div class="short-div">
              <%= label_tag "last Name" %>
              <%= address.text_field :lastname, :class => 'form-control' %>
              <label class="bill-error" for="bill_lastname"></label>
            </div>
          </div>

          <div class="form-group move-down">
              <div>
                <%= label_tag "Phone" %>
                <%= address.text_field :phone, :class => 'form-control', :id => 'add_phone_billing' %>
                <label class="bill-error" for="bill_phone"></label>
              </div>
          </div>


          <div class="form-group move-down">
              <div>
                <%= label_tag "address 1" %>
                <%= address.text_field :address1, :class => 'form-control' %>
                <label class="bill-error" for="bill_address1"></label>
              </div>
          </div>


          <div class="form-group">

            <div>
              <%= label_tag "address 2" %>
              <%= address.text_field :address2, :class => 'form-control' %>
              <label class="bill-error" for="bill_address2"></label>
            </div>
          </div>

          <div class="form-group">

            <div>
              <%= label_tag "city" %>
              <%= address.text_field :city, :class => 'form-control' %>
              <label class="bill-error" for="bill_city"></label>
            </div>

          </div>

          <div class="form-group">

            <div class="short-div">
                <%= label_tag "State" %>
                <%= address.text_field :state_name, :class => 'form-control' %>
                <label class="bill-error" for="bill_state"></label>
            </div>

            <div class="short-div">
                <%= label_tag "Zipcode" %>
                <%= address.text_field :zipcode, :class => 'form-control' %>
                <label class="bill-error" for="bill_zipcode"></label>
            </div>

          </div>
      <% end %>
    </span>

    <div class="text-center">
      <p>Credit Card Information</p>
      <em>Invalid card details submitted.</em>
    </div>

    <%= f.fields_for :creditcards, as: :creditcards  do |card| %>

    <span id="credit_section">

        <div class="form-group">
          <div>
            <%= label_tag "Cardholder's name" %>
            <%= card.text_field :cardholder_name, :class => 'form-control' %>
            <label class="bill-error" for="card_name"></label>
          </div>
        </div>

        <!--<div class="form-group">
          <div>
            <%#= label_tag "Credit card no." %>
            <%#= card.text_field :card_no, :class => 'form-control' %>
            <label class="bill-error" for="card_no"></label>
          </div>
        </div> -->

         <div class="form-group">
           <div class="short-div">
             <%= label_tag "Credit card no." %>
             <%= card.text_field :card_no, :class => 'form-control' %>
             <!-- <label class="bill-error" for="card_no"></label> -->
             <!-- <label for="spree_user_creditcards_attributes_0_card_no" class="bill-error" /> -->
             <!-- Card no is mandatory.</label> -->
           </div>

           <div class="short-div">
             <%= label_tag "Security Code (CVV)" %>
             <%= card.password_field :cvv, :class => 'form-control' %>
             <!-- <label class="bill-error" for="cvv"></label> -->
           </div>
         </div>
               <!--
        <div class="form-group">
          <div>
            <%#= label_tag "CCV" %>
            <%#= card.text_field :ccv, :class => 'form-control' %>
            <label class="bill-error" for="ccv"></label>
          </div>
        </div> -->

        <div class="form-group" id="calendar_error">
          <div class="short-div mobo-line horizon-mob desk-left">
            <%= label_tag "Expiration Date" %>
            <%= card.select :month, 1..12,  {:prompt => 'Month'}, :class => 'wide-select form-control requied pull-left' %>
            <label class="bill-error" for="card_month" id="month_error"></label>
          </div>

          <div class="short-div mobo-line get-down">
            <%= card.select :year, 2014..2030, {:prompt => 'Year'}, :class => 'wide-select form-control required pull-right' %>
            <label class="bill-error" for="card_year id="year_error></label>
          </div>
        </div>

    <% end %>

      <div class="form-group">
      <div id="submit_bill">
        <div>  <%= button_tag 'Back', :id => 'bill_back', :type => "button", :class => 'btn btn-default' %> </div>
     </span>

      <%= f.submit 'Complete Payment', :class => " form-control btn btn-default", :id => "submit" %>
    </div>
  </div>


  </div>

</div>