
<span class="bill-title <%= "hide-until-email" if is_ordinary_user?(@user.facebook_token) %>" > Where Should We Ship Your Snacks? </span>

<script type="text/javascript">

	$(window).bind("load", function() {

<% if @user.email.present? %>
	$("#vegan_user_signup").ScrollTo({
		duration : 2000
	});

<% end %><% if @not_yet_fb_signed_up.present? %>
	console.log("You are not yet registered buddy!");
	toggle_the_signin_header();
	$(".welcome-message").html("<div> You do not have an account with us.</div> <div> Please get started <span id='go_signup'> here. </span> </div>");
	$(".welcome-message").addClass('no-account'); 
<% end %><% if @registered_email.present? %>

show_user_already_registered_notification("<%= @registered_email %>
	");

<% end %>
	});

</script>

<div class="inner-sec-bmem">
	<div class="logo-bmem">
		<a href="index.html"><img src="../assets/new-design/logo.png"></a>
	</div>
	<div class="outer-top-num">
		<div class="top-num-bmem">
			<div class="number-green">
				<span>1</span>
			</div>
			<div class="number-white">
				<span>2</span>
			</div>
			<div class="number-white2">
				<span>3</span>
			</div>
		</div>
		<div class="heading-bmem">
			Become a member
		</div>
	</div>
	<div class="main-content-sec" style="display:block;">
		<div class="left-bmem">
			<div class="heading-left-bmem">
				<%= @package%>
			</div>
			<div class="image-left-bmem"><img src="../assets/new-design/img-left-bmem.jpg">
			</div>
			<div class="price-left">
				<%= show_plan_name_and_price(@subscription) %>
			</div>
			<div class="shipping-txt-left">
				Free Shipping
			</div>
			<div class="shipping-txt2-left">
				Renews Automatically
			</div>
			<div class="shipping-txt2-left">
				Cancel Anytime
			</div>
		</div>
		<div class="right-bmem">
			<div class="heading-right-bmem">
				Shipping Information
			</div>
			<div class="form-rt">
				<%= f.fields_for :addresses do |builder| %>
					<div class="outer-input">
						<div class="first-input">
							<%= builder.text_field :firstname,:placeholder=>"First Name" %>
						</div>
						<div class="sec-input">
							<%= builder.text_field :lastname,:placeholder=>"Last Name" %>
						</div>
					</div>
					<div class="outer-input">
						<div class="first-input">
							<%= f.text_field :email,:placeholder=>"Email" %>
						</div>
						<div class="sec-input">
							<%= f.text_field :password,:placeholder=>"Password" %>
						</div>
					</div>
					<div class="outer-input">
						<div class="first-input">
							<%= f.text_field :password_confirmation,:placeholder=>"Confirm Password " %>
						</div>
					</div>
					<div class="outer-input">
						<div class="first-input">
							<%= builder.text_field :address1,:placeholder=>"Address 1" %>
						</div>
						<div class="sec-input">
							<%= builder.text_field :address2,:placeholder=>"Address 2" %>
						</div>
					</div>
					<div class="outer-input">
						<div class="first-input">
							<%= builder.text_field :city,:placeholder=>"City" %>
						</div>
						<div class="sec-input">
							<%= builder.text_field :state_name,:placeholder=>"State" %>
						</div>
					</div>
					<div class="outer-input">
						<div class="first-input">
							<%= builder.text_field :phone,:placeholder=>"Phone No." %>
							<label class="error"> <%= @user.errors.messages[:"addresses.phone"][0] if @user.errors.messages[:"addresses.phone"].present? %> </label>
						</div>
						<div class="sec-input">
							<div class="fourth-input">
								<%= builder.text_field :zipcode,:placeholder=>"Zipcode" %>
							</div>
						</div>
					</div>

					<div class="bottom-text-rt">
						Delivery Via USPS
					</div>

					<div class="coupon-title">
						Coupon
					</div>
					<div class="v-wide-div v-signup-div coupon-field">
						<span> <%= f.text_field :coupon_code, placeholder: 'Discount Code' %> </span>
						<%=f.hidden_field :sub_type,:value=>@subtype%>
						
					</div>
				<% end %>
			</div>
		</div>
		<div class="clr"></div>
	</div>
	<div class="btm-btns" >
		<%if params[:location]%>
			<div class="left-btm-btn"><a href ="#" id="back_to_footer">Back</a></div>
		<%end%>
		<div class="right-btm-btn">
			<a href="#" class ='place-my-order' id ="user_sign_up">Next</a>
		</div>
	</div>
</div>

