
 <div id="vegan_user_signup">
 <section class="main-bmem">
    <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user), :html => {:id => "vegan_signup", autocomplete: 'off',:onsubmit=>"return false" }, :remote => true  do |f| %>

       <%if params[:location]=="footer"%>
          <span id="footer_singup" class="">
            <%= render :partial => 'footer_step', locals: {f: f} %>
          </span>  
       
          <span id="signup_ship_address" class="hide">
            <%= render :partial => 'order_today_shipping', locals: {f: f} %>
          </span>
       
          <span id="signup_bill_address" class='hide'>
            <%= render :partial => 'order_today_billing', locals: {f: f} %>
          </span>
      
          <span id="confirm_signup" class="hide">
    	     <%= render :partial => 'confirm_signup', locals: {f: f}%>
          </span>

      <%else%>

       <span id="signup_ship_address">
         <%= render :partial => 'order_today_shipping', locals: {f: f} %>
       </span>
       
       <span id="signup_bill_address" class='hide'>
         <%= render :partial => 'order_today_billing', locals: {f: f} %>
       </span>
      
      <span id="confirm_signup" class="hide">
        <%= render :partial => 'confirm_signup', locals: {f: f}%>
      </span>
      
      <%end%>
    <% end %>  <!-- End of the Complete Form -->
 </section>  
</div>