<p id="notice"><%= notice %></p>

  <div>
    <strong>Tagname:</strong>
    <strong>  <%= @tag.tagname %> </strong>
   </div>

    <div>
    <strong> Title : </strong>
    <strong>
        <% @tag.posts.each do |post| %>
            <%= post.title %>
        <% end %>
    </strong>
  </div>

    <div>
    <strong>Content:  </strong>
    <strong>
        <%  @tag.posts.each do |post| %>
           <%=  raw post.content %>
        <% end %>
    </strong>
    </div>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
