
<%= form_for [:admin, @subscription]  do |f| %>
  <fieldset>

    <legend align="center">
      <% if f.object.new_record? %>
        <%= Spree.t(:new_subscription) %>
      <% else %>
        <%= Spree.t(:edit_subscription) %>
      <% end %>
    </legend>

    <%= f.field_container :subscription_type do %>
      <%= f.label :subscription_type, Spree.t(:subscription_type) %> <span class="required">*</span><br />
      <%= f.text_field :subscription_type, :class => 'fullwidth title' %>
      <%= f.error_message_on :subscription_type %>
    <% end %>

    <%= f.field_container :plan_id do %>
      <%= f.label :plan_id, Spree.t(:plan_id) %> <span class="required">*</span><br />
      <%= f.text_field :plan_id, :class => 'fullwidth title' %>
      <%= f.error_message_on :plan_id %>
    <% end %>

    <%= f.field_container :quantity do %>
      <%= f.label :quantity, Spree.t(:quantity) %><br />
      <%= f.text_field :quantity, :class => 'fullwidth title' %>
      <%= f.error_message_on :quantity %>
    <% end %>

    <%= f.field_container :plan_price do %>
      <%= f.label :plan_price, Spree.t(:plan_price) %><br />
      <%= f.text_field :plan_price, :class => 'fullwidth title' %>
      <%= f.error_message_on :plan_price %>
    <% end %>

    <div class="form-buttons filter-actions actions">
      <button class="icon-ok button" type="submit" name='button'>
        <%= f.object.new_record? ? "Create" : "Update" %>
      </button>
      <span class="or">or</span>
      <a class="button icon_link with-tip icon-remove" href="/spree/admin/subscriptions">Cancel</a>
    </div>
  </fieldset>
<% end %>