<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
  <h4 class='modal-title' id='myModalLabel'>Choose Subscription</h4>

</div>

<%= form_tag(main_app.new_subscription_carts_path, method: :post, remote: true) do %>

  <div class='modal-body sub-modal-body'>
   <div id='off_message'>Choose Your Subscription: </div>

    <% i = 0 %>
      <% @subscription_offers.each do |offer, offer_id, offer_price| %>

     <div>
       <%= radio_button_tag :new_sub_id, offer_id, i == 0 %>  <%= offer.humanize %>   $<%= offer_price %>
     </div>
        
      <% i = i + 1 end %>
  </div>

  <div class='modal-footer' id="sub_selection_footer">
    <%= submit_tag 'Add a New Subscription', id: 'add_sub' %>
    <%= submit_tag "Cancel", :type => 'button', class: "btn btn-default", id: 'can_button', "data-dismiss" => "modal" %>
  </div>

<% end %> 